.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    color:white;
    font-size: large;
  }


  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    overflow: auto; /* Overflow due to float */
   
  }

  .bottom-icons{
    float: left; /* Float links side by side */
    margin: 5px;
    width: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 50%;
  }

  .info{
    animation-name: outro;
    animation-duration: 1s;  
  }

  @keyframes outro {
    0%   {opacity: 100%;}
    99% {opacity: 0%;}
    100% {display: none;}
  }

  .infoVisible{
      position: absolute;
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 15px;
      animation-name: intro;
      animation-duration: 1s;  
  }


  @keyframes intro {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }
  
  @-webkit-keyframes intro {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

  @-moz-keyframes  intro {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }
  
  .ui.segment{
    border: 0px !important;
    border-radius: 0px !important;
  }
  
  .btn{
    background: rgba(0, 0, 0, 0.71);
    padding: 8px;
    border-radius: 4px;
  }
  .image{
    width: 50px;
    height: 50px;
  }
  
  .label{
    background: rgba(0, 0, 0, 0.71);
    padding: 15px;
    border-radius: 20px;
  }
  